.navigation {
    padding: 20px;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                color: #E65252;
                transition: 0.5s;
            }

            &.active {
                color: #be3434;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .navigation {
        ul {
            //gap: 60px;
        }
    }
}
